/* Navbar Customization */
.navbar {
    display: flex;
    font-size: 1rem; /* Adjust font size */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    background-color: rgba(1, 30, 32, 0.39); /* Slightly transparent background */
    backdrop-filter: blur(1px); /* Blur effect for a modern look */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.692); /* Increased shadow for more depth */
    border-radius: 50px; /* Optional: rounded corners for a smoother look */
    padding: 10px 20px; /* Adjust padding as needed */
    position: fixed; /* Fixed position to keep it at the top */
    width: 90%; /* Full width to span the viewport */
    left: 50%; /* Move the start of the navbar to the middle of the viewport */
    transform: translateX(-50%); /* Offset by half of its own width to center */
    z-index: 900; /* Ensure it's above other content */
    transition: all 0.3s ease;
    margin-top: 20px;
    height: auto; /* Ensure height is not causing the issue */

}

.navbar-nav .nav-link {
    justify-content: right;
    font-size: 1.2rem;
    font-family: monospace;
    margin-left: 80px;
    color: #c9fdff;
    padding: 1px 25px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 10px;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: #000b0b; /* Link text color on hover and active */
}

.navbar-toggler {
    border: none; /* Remove default border for a cleaner look */
}
.navbar-toggler-icon {
    filter: invert(1); /* White icon for dark background */
}

/* Hide navbar-brand text on mobile devices */
@media (max-width: 768px) {
    .navbar {
        background-color: rgba(1, 30, 32, 0.39); /* Slightly transparent background */
    }

    .navbar-brand span {
        display: none;
    }
    .navbar-nav .nav-link {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 1rem;
    }
}

